@{
    ViewBag.Title = "Schematic ";
}
@section scripts {
    <script>
    $(function () {
	    //
    });
    </script>
}

<div class="container">
    <div class="row align-items-end">
        <div class="col-md-2">
            <h3>Hydra</h3>
            <p><small>Legendary | Ranged | Assault</small></p>
        </div>
        <div class="col-md-5">
            <p>Level 40 | 4 Stars | DPS <strong>27,609.2</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img class="img-fluid" alt="Hydra" src="/content/images/T-Icon-Weapons-SK-Hydra-L.png" />
        </div>
        <div class="col-md-4">
            <h5>Basic Stats:</h5>
            <ul class="list-unstyled">
                <li>Damage <strong>11,043.7</strong></li>
                <li>Headshot Damage <strong>16,565.54</strong></li>
                <li>Critical Hit Chance <strong>27.5%</strong></li>
                <li>Critical Hit Damage <strong>117.5%</strong></li>
                <li>Fire Rate <strong>2.5</strong></li>
                <li>Magazine Size <strong>10</strong></li>
                <li>Range <strong>3,584</strong></li>
                <li>Durability <strong>375</strong></li>
                <li>Reload Time <strong>2.0</strong></li>
                <li>Ammo Cost <strong>1</strong></li>
                <li>Impact <strong>1,444.3</strong></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Traits:</h5>
            <ul class="list-unstyled">
                <li>Element: <strong>Energy</strong> and +<strong>10%</strong> Damage</li>
                <li>+<strong>15%</strong> Critical Rating</li>
                <li>+<strong>38%</strong> Reload Speed</li>
                <li>+<strong>20%</strong> Damage</li>
                <li>+<strong>68%</strong> Critical Damage</li>
                <li>Headshot eliminations cause an explosion, damaging enemies within 0.5 tiles for <strong>30%</strong> weapon damage.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
        <div class="col-md-5">
            <h5>Crafting Costs:</h5>
            <ul class="list-inline">
                <li class="list-inline-item">Blast Powder 15</li>
                <li class="list-inline-item">Sleek Mechanical Parts 30</li>
                <li class="list-inline-item">Active Powercell 1</li>
                <li class="list-inline-item">Obsidian Ore 11</li>
            </ul>
        </div>
    </div>
</div>
