@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script>
    $(function () {
	    //
    });
    </script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h3>MOBILE HOME PAGE</h3>
        </div>
        <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod nunc a mauris imperdiet rhoncus. Duis feugiat leo vel vestibulum consequat. Duis pretium a eros nec mattis. Vivamus ac mi eget quam lobortis rhoncus ut sed risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis id blandit urna, in varius urna. Cras euismod aliquet nibh id vestibulum. Nam venenatis, odio dapibus fermentum tempus, est velit ornare urna, vel bibendum arcu est sed lorem. Proin sit amet ultrices erat, nec porttitor velit. Sed odio lacus, pellentesque nec luctus in, auctor vitae diam.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod nunc a mauris imperdiet rhoncus. Duis feugiat leo vel vestibulum consequat. Duis pretium a eros nec mattis. Vivamus ac mi eget quam lobortis rhoncus ut sed risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis id blandit urna, in varius urna. Cras euismod aliquet nibh id vestibulum. Nam venenatis, odio dapibus fermentum tempus, est velit ornare urna, vel bibendum arcu est sed lorem. Proin sit amet ultrices erat, nec porttitor velit. Sed odio lacus, pellentesque nec luctus in, auctor vitae diam.</p>
        </div>
    </div>
</div>