@using Xolartek.Web.Models;
@model ReportVM
@{
    ViewBag.Title = "Fortnite Schematics";
}
@section header {
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2018.2.516/styles/kendo.bootstrap.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2018.2.516/styles/kendo.blueopal.min.css">
    <style>
    </style>
}
@section scripts {
    <script src="http://kendo.cdn.telerik.com/2018.2.516/js/kendo.all.min.js"></script>
    <script>
        $(function () {
            window.vmWaterWeapons = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.WaterWeapons)));
            window.vmFireWeapons = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.FireWeapons)));
            window.vmNatureWeapons = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.NatureWeapons)));
        });
    </script>
    <script src="~/Scripts/fortnite/reports.js"></script>
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>List of Schematics</h3>
        </div>
    </div>
    <h5>Water Weapons:</h5>
    <div class="row">
        <div class="col-md-12">
            <div id="pnlWaterDamage"></div>
        </div>
    </div>
    <h5>Fire Weapons:</h5>
    <div class="row">
        <div class="col-md-12">
            <div id="pnlFireDamage"></div>
        </div>
    </div>
    <h5>Nature Weapons:</h5>
    <div class="row">
        <div class="col-md-12">
            <div id="pnlNatureDamage"></div>
        </div>
    </div>
</div>

