@section header {

}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row justify-content-md-center">
                <table class="table schematics">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Stars</th>
                            <th>Traits</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row-legendary" data-internal="Schematic:sid_assault_hydraulic_drum_sr_ore_t04">
                            <td><img class="img-fluid" src="~/content/images/T-Icon-Weapons-SK-Hydraulic-Drum-Assault-L.png" alt="T icon weapons sk hydraulic drum assault l"></td>
                            <td><a>Nailer</a></td>
                            <td>40</td>
                            <td class="no-wrap">
                                <i class="material-icons">grade</i>
                                <i class="material-icons">grade</i>
                                <i class="material-icons">grade</i>
                                <i class="material-icons">grade</i>
                            </td>
                            <td data-internal="aid_att_critchance_t01">
                                <div class="stat">
                                    <div class="stat__value">10.0%</div>
                                    <div class="stat__name">+10 Critical Rating</div>
                                </div>
                            </td>
                            <td data-internal="aid_att_magazinesize_t02">
                                <div class="stat">
                                    <div class="stat__value">38.0%</div>
                                    <div class="stat__name"> Magazine Size</div>
                                </div>
                            </td>
                            <td data-internal="aid_ele_energy_t03">
                                <div class="stat">
                                    <div class="stat__value">0.0%</div>
                                    <div class="stat__name"> Damage</div>
                                </div>
                            </td>
                            <td data-internal="aid_att_damage_t03">
                                <div class="stat">
                                    <div class="stat__value">20.0%</div>
                                    <div class="stat__name"> Damage</div>
                                </div>
                            </td>
                            <td data-internal="aid_conditional_afflicted_dmgbonus_t02">
                                <div class="stat">
                                    <div class="stat__value">22.5%</div>
                                    <div class="stat__name"> Damage to afflicted targets</div>
                                </div>
                            </td>
                            <td data-internal="aid_g_affliction_v2">
                                <div class="stat">
                                    <div class="stat__value">0.0%</div>
                                    <div class="stat__name">Causes Affliction damage for 6 seconds.</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="row-epic" data-internal="Schematic:sid_edged_sword_heavy_vr_ore_t01">
                            <td><img class="img-fluid" src="~/content/images/T-Icon-Weapons-SK-Sword-03-L.png" alt="T icon weapons sk sword 03 l"></td>
                            <td><a href="">Greatsword</a></td>
                            <td>1</td>
                            <td class="no-wrap">
                                <i class="material-icons">grade</i>
                            </td>
                            <td data-internal="aid_att_critdamage_t01">
                                <div class="stat">
                                    <div class="stat__value">45.0%</div>
                                    <div class="stat__name"> Crit Damage</div>
                                </div>
                            </td>
                            <td data-internal="aid_att_damageresistance_t01">
                                <div class="stat">
                                    <div class="stat__value">9.0%</div>
                                    <div class="stat__name"> Damage Resistance</div>
                                </div>
                            </td>
                            <td data-internal="aid_ele_fire_t02">
                                <div class="stat">
                                    <div class="stat__value">0.0%</div>
                                    <div class="stat__name"> Damage</div>
                                </div>
                            </td>
                            <td data-internal="aid_att_critdamage_t02">
                                <div class="stat">
                                    <div class="stat__value">68.0%</div>
                                    <div class="stat__name"> Crit Damage</div>
                                </div>
                            </td>
                            <td data-internal="aid_conditional_afflicted_dmgbonus_t03">
                                <div class="stat">
                                    <div class="stat__value">30.0%</div>
                                    <div class="stat__name"> Damage to afflicted targets</div>
                                </div>
                            </td>
                            <td data-internal="aid_g_affliction_v2">
                                <div class="stat">
                                    <div class="stat__value">0.0%</div>
                                    <div class="stat__name">Causes Affliction damage for 6 seconds.</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="row-rare" data-internal="Schematic:sid_floor_hoverboard_speed_r_t01">
                            <td><img class="img-fluid" src="~/content/images/T-Icon-Weapons-S-Speedboost-Straight-L.png" alt="T icon weapons s speedboost straight l"></td>
                            <td><a href="">Boost Pad (Straight)</a></td>
                            <td>1</td>
                            <td class="no-wrap">
                                <i class="material-icons">grade</i>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row-common" data-internal="Schematic:sid_pistol_semiauto_c_ore_t00">
                            <td><img class="img-fluid" src="~/content/images/T-Icon-Weapons-SK-Vigilante-L.png" alt="T icon weapons sk vigilante l"></td>
                            <td><a href="">Semi-Auto Handgun</a></td>
                            <td>1</td>
                            <td class="no-wrap"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
