@using Xolartek.Web.Models;
@model ViewModel
@{
    ViewBag.Title = "Fortnite Schematics";
}
@section header {
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2018.2.516/styles/kendo.bootstrap.min.css">
    <style>
        .k-detail-cell .k-tabstrip .k-content {
            padding: 0.2em;
        }
        .k-detail-cell .k-tabstrip-wrapper {
            display:inline-block;
            width:80%;
        }
    </style>
}
@section scripts {
    <script src="http://kendo.cdn.telerik.com/2018.2.516/js/kendo.all.min.js"></script>
    <script src="~/Scripts/fortnite/schematics.js"></script>
    <script>
        $(function () {
            //
        });
    </script>
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>List of Schematics</h3><hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="pnlGridSchematics"></div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="tmplDetail">
    <div class="container-fluid">
        <div class="row">
            <div class="tabstrip">
                <ul>
                    <li class="k-state-active">Basic Stats</li>
                    <li>Traits</li>
                    <li>Materials</li>
                </ul>
                <div class="col-sm-11">
                    <ul class="list-unstyled">
                        <li>Damage <strong>#= damage #</strong></li>
                        <li>Critical Hit Chance <strong>#= critChance #</strong></li>
                        <li>Critical Hit Damage <strong>#= critDamage #</strong></li>
                        <li>Fire Rate <strong>#= fireRate #</strong></li>
                        <li>Magazine Size <strong>#= magazineSize #</strong></li>
                        <li>Range <strong>#= range #</strong></li>
                        <li>Durability <strong>#= durability #</strong></li>
                        <li>Reload Time <strong>#= reloadTime #</strong></li>
                        <li>Ammo Cost <strong>#= ammoCost #</strong></li>
                        <li>Impact <strong>#= impact #</strong></li>
                    </ul>
                </div>
                <div class="pnlTraits col-sm-11"></div>
                <div class="pnlMaterials col-sm-11"></div>
            </div>
        </div>
    </div>
</script>
