@{
    ViewBag.Title = "Input Weapon";
}
@section header {
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2018.2.516/styles/kendo.bootstrap.min.css">
}
@section scripts {
    <script src="http://kendo.cdn.telerik.com/2018.2.516/js/kendo.all.min.js"></script>
    <script>
        $(function () {
            kendo.bind($("#FormCreate"), {});
        });
    </script>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("~/Views/Fortnite/Range.cshtml", new Xolartek.Web.Models.RangedWeapon())
        </div>
    </div>
</div>