@{
    ViewBag.Title = "Input Weapon";
}
@section header {
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2018.2.516/styles/kendo.bootstrap.min.css">
}
@section scripts {
    <script src="http://kendo.cdn.telerik.com/2018.2.516/js/kendo.all.min.js"></script>
    <script>
        $(function () {
            kendo.bind($("#FormCreate"), {});
            $("#FormCreate").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/api/range",
                    data: $("#FormCreate").serialize(),
                    error: function (xhr, status, error) {
                        console.error("error routine: " + error);
                    },
                    success: function (result) {
                        console.log("Success!");
                    }
                });
            });
        });
    </script>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("~/Views/Fortnite/Range.cshtml", new Xolartek.Web.Models.RangedWeapon())
        </div>
    </div>
</div>