
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h3>Administrator landing page</h3>
            <p>Manage website from this section.</p>
        </div>
    </div>
</div>
